@import "tailwindcss";

:root {
  --background: #EFFBFF;
  --foreground: #1E1E1E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
  --font-accent: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans), system-ui, -apple-system, sans-serif;
}
